################################################################################
# [Descrição]:
#   Arquivo onde fica as configurações globais do git
#
# Links úteis:
#   Documentação [https://git-scm.com/docs/git-config]
#   Inspiração:
#       Aurélio Jargas dotfiles: [https://github.com/aureliojargas/dotfiles/blob/main/.gitconfig]
################################################################################

# editor
# --------------------------------------------
[core]
	editor = vim

    # esse parametro serve pros comandos ('git branch' ou 'git log' por exemplo)
    # não se comportarem interativamente feito o comando 'less' por exemplo
    # Essa linha pode ser adicionado com o comando "git config --global core.pager '' "
	pager =


# Cores
# --------------------------------------------
[color "branch"]
  current = blue bold
  local = green bold
  remote = red bold

[color "decorate"]
	HEAD = reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

# Alias
# --------------------------------------------
[alias]
  visual = !gitk
  progress = diff --stat
  pg = diff --shortstat


# Merge
# --------------------------------------------
[merge]
    tool = meld

[mergetool "meld"]
    cmd = meld --auto-merge "\"$LOCAL\" \"$BASE\" \"$REMOTE\" --output \"$MERGED\" --label \"MERGE (REMOTE BASE MY)\""
    trustExitCode = false

[mergetool]
    # don't ask if we want to skip merge
    prompt = false

    # don't create backup *.orig files
    keepBackup = false

[commit]
    status = false  # no `git status` output in commit template

# Diff
# --------------------------------------------
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "\"$LOCAL\" \"$REMOTE\" --label \"DIFF (ORIGINAL MY)\""


# Outras configurações
# --------------------------------------------
[push]
    # https://git-scm.com/docs/git-config.html#git-config-pushdefault
    default = current  # default in Git 1.x

[remote "origin"]
    prune = true  # Autoremove already deleted remote branches

[remote "upstream"]
    prune = true  # Autoremove already deleted remote branches

[http]
	sslVerify = false

[credential]
	helper = store
	useHttpPath = true

[include]
    path = ~/.config/dotfiles/.git-user
