[Desktop Entry]
Categories=Utility;GTK;
Comment=Logitech Unifying Receiver peripherals manager
Exec=/home/frank/.local/bin/solaar --window=hide
Icon=solaar
Keywords=logitech;unifying;receiver;mouse;keyboard;
Name=Solaar
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
